@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
p#main-paragraph-id1#main-paragraph-id2.paragraph.paragraph2 {
  color: rgba(0, 0, 0, 0.54);
}
div#main-container-id1#main-container-id2.container.container,
span#main-container-id1#main-container-id2.container.container {
  color: rgba(0, 0, 0, 0.54);
}

